@mixin moment-button-theme($color, $bg-color, $hover, $hover-bg) {
  color: $color;
  border-color: $color;
  background-color: $bg-color;

  &:hover {
    color: $hover;
    border-color: $hover-bg;
    background-color: $hover-bg;
  }
}

$button-border-width: 1px;
$button-border-radius: type-scale(-1);

%button {
  display: inline-flex;
  justify-content: center;
  text-transform: uppercase;
  border-width: $button-border-width;
  border-style: solid;
  border-radius: $button-border-radius;
  font-family: font-family('secondary', 'semibold');
}

.btn-small {
  @extend %button;
  @include moment-button-theme(color('base', 'base'), color('primary', 'dark'), color('accent', 'base'), color('base', 'light'));
  font-size: type-scale(-1);
  padding: 0em 1em;
}

.btn-large {
  @extend %button;
  @include moment-button-theme(color('base', 'base'), transparent, color('primary', 'base'), color('base', 'light'));
  font-size: type-scale(0);
  padding: 1em;
  &:hover {
    border-color: color('base', 'light');
  }
}

.btn-large-alt {
  @extend %button;
  @include moment-button-theme(color('primary', 'base'), color('base', 'base'), color('base', 'base'), color('accent', 'base'));
  font-size: type-scale(0);
  padding: 1em;
  &:hover {
    border-color: ('base', 'base');
  }
}

.btn-primary-alt {
  @extend %button;
  @include moment-button-theme(color('base', 'dark'), color('primary', 'base'), color('primary', 'base'), color('base', 'dark'));
  height: 3rem;
  font-family: font-family(primary, regular);
  font-size: type-scale(2);
  padding: 0 1em;
}
