.moment-content {
  @include vertical-rhythm(1);

  width: 100%;
  overflow: hidden;
  min-height: 80px;
  font-family: font-family('primary', 'light');
  background-color: transparent;
  border: none;
  border-top: 1px solid #eeeeee;
  opacity: .8;
  margin: 1em 0;
  color: color('base', 'dark');
  resize: none;

  &:focus {
    outline: 0;
    border-top: 1px solid color('secondary', 'base');
  }

  @media only screen and (min-width: $break) {
    width: 60%;
  }
}

.content {
  figcaption {
    font-family: font-family('primary', 'light');

    .moment-song {
      font-family: font-family('primary', 'semibold');
    }
    span:nth-child(2) {
      padding: 0 .5rem;
      color: color('primary', 'semibold');
    }
  }
}
