.moments-list {
  font-family: font-family(primary, light);
  a {
    text-decoration: none;
    color: color('base', 'base');
  }

  li {
    border: 2px solid transparent;
    border-bottom: 1px solid color('primary', 'light');
    &:hover {
      border-color: color('secondary', 'base');
    }
  }
	li:last-child {
		border-bottom-color: color('primary', 'base');
		&:hover {
			border-bottom: 1px solid color('secondary', 'base');
		}
	}
}
