.moment-detail {
  @extend %card-wrapper;
  padding-left: $base-line-height;
  padding-right: $base-line-height;
  font-family: font-family('primary', 'light');

  h2 {
    @include vertical-rhythm(3);

  }
  p {
    @include vertical-rhythm(2);
    line-height: 1;
  }

  .tags {
    color: color('secondary', 'light');
    padding-right: $base-line-height / 2;
    &:before {
      content: "•";
      padding-right: $base-line-height / 3;
      color: color('base', 'base');
    }
    &:first-child:before {
      display: none;
    }
  }
}

.primary-content {
  font-family: font-family('primary', 'light');

  h1 {
    @include vertical-rhythm(4);
    margin-bottom: $base-line-height;
    font-family: font-family('primary', 'semibold');
    border-bottom: 1px solid color('primary', 'light');
  }
  h2 {
    @include vertical-rhythm(2);
  }
  h3, h4, h5, h6 {
    @include vertical-rhythm(1);
  }

  p {
    @include vertical-rhythm(1);
  }

  a {
    color: color('secondary', 'light');
  }

  pre {
    @include vertical-rhythm(0);
    padding: $base-line-height / 4;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: mix(black, color('primary', 'light'), 50%);
  }

  code {
    font-family: font-family('secondary', 'regular');
    color: color('tertiary', 'base');
  }

  ul {
    list-style: disc outside;
    display: block;
    margin-left: $base-line-height;
    li {
      list-style-type: disc;
      display: list-item;
    }
  }

  table {
    border: 1px solid color('primary', 'light');
    table-layout: auto;
    td {
      padding: $base-line-height / 4;
    }
    thead, tr:nth-of-type(even) {
      background: mix(black, color('primary', 'light'), 50%);
    }
  }
}

.moment-summary {
  figcaption {
    a {
      color: color('base', 'base');
      display: inline-flex;
      align-items: center;
      margin: .5rem auto;
      &:hover {
        cursor: pointer;
        color: color('primary', 'dark');
      }
    }
    span {
      color: color('base', 'base');
      text-align: center;
      margin: .25em 0 0 0;
      &:hover {
        cursor: pointer;
        color: color('primary', 'dark');
      }
    }
  }
}
