html {
  height: 100%;
}

body {
  height: 100%;
  color: color(base, base);
  background-image: radial-gradient(circle farthest-side, color(primary, light), color(primary, dark));
  background-repeat: no-repeat;
  background-size: cover;
}
