html {
  min-height: 100%;
}
body {
  min-height: 100%;
  color: color(base, base);
  background-image: radial-gradient(circle farthest-side, color(primary, light), color(primary, dark));
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
