@function type-scale($ratio) {
  @return map-get($type-scale, $ratio);
}

@function line-height($ratio) {
  @return map-get($line-height, $ratio);
}

// @function color($key: primary) {
//   @return map-get($theme-colors, $key);
// }

@function color($name: primary, $variant: base) {

  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($theme-colors, $name);

  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  @return $color;
}
