%icon-font-base {
  font-family: 'moment';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

$iconPrimary:
(spotify 2 "\e800" 100% #1e1d24)
(create 2 "\e912" 100% #1e1d24)
(search 2 "\eb30" 100% #1e1d24)
(grid 2 "\ec5f" 100% #1e1d24)
(menu 2 "\ec6e" 100% #1e1d24)
(danger 1 "\ed6a" 2em #ff0000)
(valid 2 "\ed6f" 100% #1e1d24)
(arrowR 2 "\edba" 2em #1e1d24)
(arrowL 2 "\edc2" 2em #1e1d24)
(play 2 "\ed7b" 2em #1e1d24)
(album 0 "\ea8b" 1.5em #4CAF50);

@each $iconP in $iconPrimary {
  .icon-#{nth($iconP, 1)} {
    @extend %icon-font-base;
    @include vertical-rhythm(nth($iconP, 2));
    color: nth($iconP, 5);
    width: nth($iconP, 4);
    &:before {
      content: nth($iconP, 3);
    }
  }
}
