@mixin vertical-rhythm($ratio: 0) {
  font-size: type-scale($ratio);
  line-height: line-height($ratio);
}

// @include vertical-rhythm(1);
// This keeps font-size and line-height in the ratio

@mixin moment-button-theme($color, $bg-color, $hover, $hover-bg) {
  color: $color;
  border-color: $color;
  background-color: $bg-color;

  &:hover {
    color: $hover;
    border-color: $hover;
    background-color: $hover-bg;
  }
}

@mixin flex-box($align: null, $wrap: null, $direction: null, $justify: null, $basis: null) {
  @include display(flex);
  @include align-items($align);
  @include flex-wrap($wrap);
  @include flex-direction($direction);
  @include justify-content($justify);
  @include flex-basis($basis);
}
