// BREAKPOINTS

$break: 50em;


// COLORS

$theme-colors: (
  'primary': (
    'base': #303030,
    'light': #888888,
    'dark': #000000
  ),
  'accent': (
    'base': #4CAF50,
    'light': #81C784,
    'dark': #388E3C
  ),
  'secondary': (
    'base': #03A9F4,
    'light': #29B6F6,
    'dark': #0288D1
  ),
  'tertiary': (
    'base': #E7CC1D,
    'light': #FFE21E,
    'dark': #C5A716
  ),
  'base': (
    'base': #FAFAFA,
    'light': #FFFFFF,
    'dark': #EEEEEE
  )
);


// TYPOGRAPHY

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.2;

$type-scale: (
  -1: 0.8rem,
  0: 1rem,
  1: 1.25rem,
  2: 1.563rem,
  3: 1.953rem,
  4: 2.441rem
);

$line-height: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2,
  3: $base-line-height * 2,
  4: $base-line-height * 3
);

//font family map
$font-family: (
  'primary': (
    'light': ("OpenSans-Light", sans-serif),
    'light-italic': ("OpenSans-LightItalic", sans-serif),
    'regular': ("OpenSans-Regular", sans-serif),
    'italic': ("OpenSans-Italic", sans-serif),
    'semibold': ("OpenSans-Semibold", sans-serif),
    'semibold-italic': ("OpenSans-SemiboldItalic", sans-serif)
  ),
  'secondary': (
    'regular': ("MuseoSlab-Regular", serif),
    'regular-italic': ("MuseoSlab-RegularItalic", serif),
    'semibold': ("MuseoSlab-Semibold", serif),
    'semibold-italic': ("MuseoSlab-SemiboldItalic", serif)
  ),
);
