.search-light {
  @include inputs(1, color('primary', 'light'), .8);
}

.search-heavy {
  @include inputs(3, color('base', 'base'), 1);
  font-weight: 300;
}

input[type="date"] {
  font-family: font-family('primary', 'semibold');
  opacity: .8;
}
