$button-border-width: 1px;
$button-border-radius: type-scale(-1);

%button {
    display: inline-block;
    text-transform: uppercase;
    border-width: $button-border-width;
    border-style: solid;
    border-radius: $button-border-radius;
    font-family: font-family('secondary', 'semibold');
}

.btn-small {
  @extend %button;
  @include moment-button-theme(color('base', 'base'), color('primary', 'dark'), color('accent', 'base'), color('primary', 'dark'));
  font-size: type-scale(-1);
  padding: 0em 1em;
}

.btn-large {
  @extend %button;
  @include moment-button-theme(color('base', 'base'), transparent, color('primary', 'base'), color('base', 'light'));
  font-size: type-scale(0);
  padding: 1em;
  &:hover {
    border-color: color('base', 'light');
  }
}

.btn-primary-alt {
  @extend %button;
  @include moment-button-theme(color('base', 'dark'), color('primary', 'base'), color('primary', 'base'), color('base', 'dark'));
  height: 3rem;
  font-family: font-family(primary, regular);
  font-size: type-scale(2);
  padding: 0 1em;
}
