$button-padding: 0.5rem 1rem;
$button-font-size: type-scale(1);
$button-border-width: 0;
$button-border-radius: type-scale(-1);

%button {
    display: inline-block;
    padding: $button-padding;
    font-size: $button-font-size;
    font-weight: bold;
    text-transform: uppercase;
    border-width: $button-border-width;
    border-style: solid;
    border-radius: $button-border-radius;
    font-family: font-family('secondary', 'semibold');
}

.btn-small {
  @extend %button;
  @include moment-button-theme(color('accent', 'base'), color('base', 'dark'));
}
