.moment-date {
  display: inline-block;
  font-size: type-scale(3);
  p {
    font-family: font-family(secondary, semibold);
    letter-spacing: 0;
    line-height: 1;
  }
  span {
    font-family: font-family(secondary, regular);
    color: color(primary, light);
    letter-spacing: $base-line-height;
  }
}

input[type="date"] {
    margin: .5rem 0;
    padding-right: 1em;
    &:focus {
      padding-left: 4em;
    }
  }
