.search-wrapper {
  @include background('/images/mainBGdark.svg');
  padding: 0 6em;
  text-align: left;

  input[name="search"] {
    @include vertical-rhythm(3);
    font-weight: 300;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eeeeee;
    opacity: 1;
    margin: 1em 0;
    color: color('base', 'base');
    &:focus {
      outline: 0;
      border-bottom: 1px solid color('secondary', 'base');
    }
    @media only screen and (min-width: $break) {
      display: inline-flex;
      flex-basis: 30%;
      height: 2em;
    }
  }

  form {
    display: inline-block;
    padding-left: $base-line-height * 2;
    padding-bottom: $base-line-height * 5;
    background-image: radial-gradient(closest-side, rgba(0,0,0,.2), rgba(0,0,0,0));
    background-position: 0% 0%;
  }
}
