.moment-detail {
  @extend %card-wrapper;
  font-family: font-family(primary, light);

  h2 {
    @include vertical-rhythm(3);

  }
  p {
    @include vertical-rhythm(2);
    line-height: 1;
  }

  .tags {
    color: color(secondary, light);
    padding-right: $base-line-height / 2;
    &:before {
      content: "•";
      padding-right: $base-line-height / 3;
      color: color(base, base);
    }
    &:first-child:before {
      display: none;
    }
  }

}

.moment-summary {
  figure {
    a {
      color: color(base, base);
    }
    span {
      padding-right: $base-line-height / 3;
      color: color(base, base);
    }
    figcaption:hover {
      cursor: pointer;
      span {
        color: color(primary, dark);
      }
    }
  }
}
