@mixin background($url){
  background: url($url);
  background-position: 50% 50%;
  background-size: cover;
}

.moment-banner {
  @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: space-between);
  @include background('/images/mainBG.png');
  padding: 3em 0 0;

  h1 {
    order: 1;
    flex-basis: 100%;
    @include vertical-rhythm(4);
    color: color('base', 'base');
    margin: 0 2em 6em 2em;
  }

  img {
    order: 2;
    margin: 1em;
  }

  ul {
    order: 3;
    display: inline-flex;
    li {
      margin: 1em;
    }
  }
}
