.header {
  @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: space-between, $basis: null);
  padding: .5em 1em;
  background-color: transparent;

  p {
    flex-basis: 100%;
    text-align: center;
  }
}
