.header {
  @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: space-between);
  padding: 1em 1em;
  background-color: transparent;

  p {
    flex-basis: 100%;
    text-align: center;
  }
}
