.login-banner {
  @include background('/images/mainBGdark.svg');
}

.login-section {
  @include flex-box($align: center, $wrap: wrap, $direction: column, $justify: center);
  text-align: center;
  padding: 2em;
  @media only screen and (min-width: $break) {
    padding: 10em 0;
  }

  h1 {
    font-family: font-family('primary', 'light');
    font-weight: 100;
    @include vertical-rhythm(4);
    color: color('base', 'base');
  }

  p {
    font-family: font-family('primary', 'semibold-italic');
    @include vertical-rhythm(0);
    margin: 2em 0;
  }

  .btn-large-alt {
    border-color: color('base', 'base');
    margin: 1em 0;
    span {

      color: color('primary', 'dark');
    }
    &:hover {
      span {
        color: color('base', 'base');
      }
    }
  }
  // a {
  //   @extend %button;
  //   @include moment-button-theme(color(primary, base), color(accent, base));
  // }
}
