.form-wrapper {
  position: relative;
  top: -$base-line-height * 2;
  margin: 0 1em;
  padding: $base-line-height * 2;
  background-color: color(primary, base);
  border-radius: .5rem;
  box-shadow: 2px -2px 20px 10px rgba(0, 0, 0, 0.2);

  @media only screen and (min-width: $break) {
    margin: 0 6em;
  }

  form {
    @include flex-box($direction: row, $wrap: wrap, $justify: space-between);

    input[type="date"] {
      order: 1;
      display: block;
    }
    .btn-primary-alt {
      order: 6;
      margin: 1em auto;
      @media only screen and (min-width: $break) {
        order: 2;
        margin: 0;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
      }
    }
    .content {
      order: 2;
      @include flex-box($direction: column, $justify: center);
      text-align: center;
      flex-basis: 100%;
      margin-top: $base-line-height;
      @media only screen and (min-width: $break) {
        order: 3;
        @include flex-box($direction: row, $justify: center);
        text-align: left;
      }
    }
    textarea {
      order: 3;
      margin: 0 auto;
      @media only screen and (min-width: $break) {
        order: 4;
        margin: 0;
      }
    }
    figure {
      order: 5;
      display: inline-block;
      margin: 0 auto;
      vertical-align: top;
      @media only screen and (min-width: $break) {
        order: 5;
        margin-left: $base-line-height;
      }
    }
    .moment-tags {
      order: 4;
      flex-basis: 100%;
      @media only screen and (min-width: $break) {
        order: 5;
        flex-basis: 20%;
      }
    }
  }
}
