.moment-detail-banner {
  @include flex-box($align: center, $wrap: wrap, $direction: column, $justify: center);
  @include background('/images/mainBGdark.svg');
  @media only screen and (min-width: $break) {
    @include flex-box($wrap: wrap, $direction: row, $justify: space-between);
    padding: 1em 6em 2em 4em;
  }

  .moment-title-wrapper {
    order: 1;
    h1 {
      font-family: font-family('primary', 'light');
      font-weight: 100;
      text-align: center;
      @include vertical-rhythm(4);
      color: color('base', 'base');
      @media only screen and (min-width: $break) {
        padding: 0em;
        text-align: left;
        margin: 0 0 0 1em;
      }
    }

    p {
      font-family: font-family('primary', 'semibold');
      text-align: center;
      @include vertical-rhythm(1);
      color: color('base', 'base');
      padding: 0 0 1em 0;
      @media only screen and (min-width: $break) {
        text-align: left;
        margin: 0 0 4em 2em;
      }
    }
  }

  figure {
      order: 2;
      @include flex-box($align: center, $direction: column);
      margin: 0 $base-line-height;
      vertical-align: top;
      padding: 1em 0 0 0;
      margin: 1em 0 3em 0;
      @media only screen and (min-width: $break) {
        order: 2;
        padding: 1em;
        margin: 0;
      }
    }
  figcaption {
    position: relative;
    display: inline-block;
    font-family: font-family(primary, light);
    font-size: type-scale(1);
  }
}
.moment-detail {
  position: relative;
  @include flex-box($wrap: wrap, $justify: space-between);

  ul {
    display: flex;
    justify-content: space-between;

  }
  li {
    display: inline-block;
  }

  .primary-content {
    flex-basis: 100%;
    margin: 1em 0;
  }

  .icon-danger {
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-large {
    width: 10em;
    margin: 1em auto;
    @media only screen and (min-width: $break) {
      margin: 2em 0 0 0;
    }
  }
}
