.results {
  padding: 0 0 2em 0;
  @media only screen and (min-width: $break) {
    flex-basis: 49%;
    padding: 0;
  }

  h2 {
    margin-bottom: $base-line-height;
  }

  .results-nav {
    @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: space-around);

    ul {
      order: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-basis: 100%;
      padding: 0 1em 1em 1em;
      @media only screen and (min-width: $break) {
        flex-basis: inherit;
        margin: 0 auto;
        order: 2;
        padding: 0;
      }
    }
    li {
      display: inline-block;
      align-self: baseline;
      padding: .25em .5em;
      @media only screen and (min-width: $break) {
        text-align: center;
        padding: 0 auto;
      }
    }
    .icon-arrowL {
      order: 2;
      color: color('base', 'base');
      @media only screen and (min-width: $break) {
        text-align: center;
        // margin: 0 auto;
        order: 1;
      }
    }
    .icon-arrowR {
      order: 3;
      color: color('base', 'base');
      @media only screen and (min-width: $break) {
        text-align: center;
        // margin: 0 auto;
        order: 3;
      }
    }
  }
}
