.results {
  padding: 0 0 2em 0;
  @media only screen and (min-width: $break) {
    max-width: 49%;
    padding: 0;
  }

  h2 {
    margin-bottom: $base-line-height;
  }

  .results-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 1em 0;
    @media only screen and (min-width: $break) {
      padding: 0;
    }
  }
  li {
    display: inline-block;
    align-self: baseline;
    padding: 0 .5em;
  }
  button {
    display: inline-block;
    @media only screen and (min-width: $break) {
      width: 20px;
      height: 64px;
    }
  }
}
