.timeline {
  @include flex-box($align: center, $wrap: wrap, $direction: row, $justify: center);
  padding: 2em 0 2em 0;
  background: color(primary, base);

  .btn-large {
    order: 1;
  }

  .timeline-header {
    order: 2;
    flex-basis: 100%;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (min-width: $break) {
      margin: 0 6em 0 6em;
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      @include vertical-rhythm(2);
      color: color('base', 'base');
      font-family: font-family('secondary', 'semibold');
      text-transform: uppercase;
      margin: 1em 0;
      @media only screen and (min-width: $break) {
        display: inline-flex;
        flex-basis: 60%;
      }
    }
    .timeline-search {
      @media only screen and (min-width: $break) {
        display: inline-flex;
        flex-basis: 30%;
        height: 2em;
      }
    }
  }

  .moments-list {
    order: 3;
    flex-basis: 95%;
    @media only screen and (min-width: $break) {
      flex-basis: 50%;
    }

    h3 {
      @include vertical-rhythm(1);
      text-align: left;
      // background: linear-gradient(to left, color(primary, base) 0%, rgba(255,255,255,.2) 50%, color(primary, base) 100%);
      background: linear-gradient(to right, rgba(255,255,255,.2) 0%, color(primary, base) 50%);

      background-repeat: no-repeat;
      background-size: 100% 1px;
      background-position: bottom;
    }
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: $base-line-height;
      padding-top: $base-line-height;
      padding-left: $base-line-height / 2;
      padding-right: $base-line-height / 2;
      border-bottom: 1px solid color('primary', 'light');
    }
    p {
      @include vertical-rhythm(0);

      @media only screen and (min-width: $break) {
        font-size: type-scale(1);
        line-height: line-height(1) / 1.5;
      }
    }
    figure {
      position: relative;
      align-self: baseline;
      margin-left: $base-line-height;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 5px;
        left: 0;
        box-shadow: inset 0px 0px 25px 25px rgba(0,0,0,.3);
      }
      img {
        min-width: 80px;
        @media only screen and (min-width: $break) {
          max-width: 100px;
        }
      }
    }
    figcaption {
      position: absolute;
      bottom: $base-line-height / 2.5;
      right: 0;
      font-family: font-family(primary, regular);
      font-size: type-scale(3);
    }
  }
}
