<div class="login-banner">
  <section class="login-section">
  <h1>Welcome to <span class="header-username">Moment</span>, your <em>personal</em> music collection.</h1>
  <p>See what you listen to most and save your special moments with music.</p>
  <a class="btn-large-alt" href="/auth/spotify">Login With <span class="icon-spotify">Spotify</span></a>
  </section>
</div>
<section class="new-releases">
  <h2>New Music</h2>
  <ul>
    <li ng-repeat="result in vm.results">
      <a target="_blank" href="{{ result.external_urls.spotify }}" >
      <figure>
        <img src="{{ result.images[1].url }}" alt="album art for {{ result.name }}" title="{{ result.name }}">
      </figure></a>
    </li>
  </ul>
</section>

