<div class="page-banner">
  <h1>Add or Edit A Moment</h1>
</div>
<div class="search-wrapper">
  <form>
    <input type="text" ng-model="search" name="search" placeholder="Search"/>
  </form>
</div>
<div class="form-wrapper">
  <img src="">{{vm.moment.cover}}<img>
  <p class="moment-song"> {{ vm.moment.song }} | {{vm.moment.artist}} </p>
  <form ng-submit="vm.save()">
    <input type="text" ng-model="vm.moment.title" placeholder="Title" />
    <textarea type="text" ng-model="vm.moment.text" placeholder="Text"></textarea>
    <input type="text" ng-model="vm.moment.author" placeholder="Author" />
    <input type="date" ng-model="vm.date" value="{{date | date:'yyyy-MM-dd'}}"/>
    <input class="btn-primary-alt" type="submit" name="Submit">
  </form>
</div>
