<article class="moment-summary">
  <div class="moment-detail-banner">
    <div class="moment-title-wrapper">
      <h1 class="moment-title">{{ vm.moment.title }}</h1>
      <p>{{ vm.spotifyDeats.artists[0].name }}</p>
    </div>
    <figure>
      <img src="{{ vm.spotifyDeats.album.images[1].url }}">
      <figcaption><a target="_blank" href="{{ vm.spotifyDeats.preview_url }}"><span class="icon-play"></span>Listen On Spotify</a></figcaption>
    </figure>
  </div>
  <section class="moment-detail">
    <div class="moment-detail-header">
      <h2>{{ vm.moment.dateModified | date: 'dd MMMM' }}</h2>
      <p><span>{{ vm.moment.dateModified | date: 'yyyy' }}</span></p>
    </div>
    <ul class="moment-metadata">
      <li class="tags" ng-repeat="tag in vm.moment.tags">{{tag}}</li>
      <li class="date">{{ vm.moment.dateModified | date:"h:mm a" }}</li>
    </ul>
    <section class="primary-content">{{ vm.momentContent }}</section>
    <a class="btn-large" href="#/moments/">View All</a>

    <!-- <a class= "btn-large" href="#/moments/{{vm.moment._id}}/edit">Edit</a> -->
    <a class="btn-large" href ng-click="vm.deleteMoment()">Delete</a>
  </section>
</article>
