<div class="moment-banner" ng-controller="MomentsController">
  <h1>{{vm.user.id}}, here are your moments!</h1>
  <img class="image-profile" src="{{ vm.user.images[0].url }}" alt="Image of {{ vm.user.name }}" title="{{ vm.username }}">
  <ul class="user-stats">
    <li>15 <span>moments</span></li>
    <li>3 <span>tags</span></li>
    <li>10 <span>tracks</span></li>
  </ul>
</div>
<section class="timeline">
  <a class="btn-large" href="#/moments/new">Create a moment</a>
  <div class="timeline-header">
    <h2>Timeline</h2>
    <input class="search-light" type="text" name="search" placeholder="SEARCH" data-ng-model="search">
  </div>
  <section class="moments-list" data-ng-repeat="month in vm.moments.date">
    <h3>{{ moments.date | date:'M' }}</h3>
    <ul>
      <li data-ng-repeat="moment in vm.moments | orderBy:'-date' | filter:search">
        <p>{{ moment.content | limitTo:150 }}</p>
        <figure>
          <img src="" alt="Album cover for {{ moment.album }}" title="{{ moment.album }}">
          <figcaption>{{ moment.date | date:'d' }}</figcaption>
        </figure>
      </li>
    </ul>
  </section>
</section>
