<article class="moment-summary">
  <div class="moment-detail-banner">
    <div class="moment-title-wrapper">
      <h1 class="moment-title">{{ vm.moment.title }}</h1>
      <p>This is the artist name</p>
    </div>
    <figure>
      <img src="/images/eric.jpg">
      <figcaption>Listen On Spotify</figcaption>
    </figure>
  </div>
  <section class="moment-detail">
    <div class="moment-detail-header">
      <h2>{{ vm.moment.dateModified | date: 'dd MMMM' }}</h2>
      <p><span>{{ vm.moment.dateModified | date: 'yyyy' }}</span></p>
    </div>
    <ul class="moment-metadata">
      <li class="date">{{ vm.moment.dateModified | date:"h:mm a" }}</li>
      <li>{{vm.moment.user}}</li>
      <li>{{vm.moment.album}}</li>
    </ul>
    <section class="primary-content"> {{ vm.moment.content }} </section>
    <a class="btn-large" href="#/moments/">View All</a>
    <a class= "btn-large" href="#/moments/{{vm.moment._id}}/edit">Edit</a>
  </section>
</article>
