<article ng-controller="MomentDetailController" class="moment-summary">
  <div class="moment-banner">
    <h1><span class="moment-title">{{ vm.moment.title }}</span><span>|</span>{{ resp.data.artist[0].name }}</h1>
    <img src="">{{vm.moment.cover}}<img>
  </div>
  <p class="moment-song"> {{ vm.moment.song }} | {{vm.moment.artist}} </p>
  <p> {{ vm.moment.content }}</p>
  <ul class="moment-metadata">
    <li class="date">{{ vm.date | date:"MM-dd-yyyy" }}</li>
    <li>{{vm.moment.user}}</li>
    <li>Listen On Spotify</li>
    <li>{{vm.moment.album}}</li>
  </ul>
  <a class="btn-primary" href="#/moments/">View All</a>
  <a class= "btn-small" href="#/moments/{{vm.moment._id}}/edit">Edit</a>
</article>
