<div class="moment-banner">
  <h1 class="ng-cloak" ng-show="{{vm.user.name !== null}}">{{vm.user.name}}, here are your moments!</h1>
  <h1 class="ng-cloak" ng-hide="{{vm.user.name !== null}}">Hello, here are your moments!</h1>
  <img ng-show="{{vm.user.profile_image}}" class="ng-cloak image-profile" src="../../images/defaultUser.jpg" alt="Image of {{ vm.user.name }}" title="{{ vm.username }}">
  <img ng-hide="{{vm.user.profile_image}}" class="ng-cloak image-profile" src="{{ vm.user.profile_image.url }}" alt="Image of {{ vm.user.name }}" title="{{ vm.username }}">
  <ul class="user-stats">
    <li ng-bind="vm.momentCount">15 <span>moments</span></li>
    <li ng-bind="vm.tagCount">3 <span>tags</span></li>
    <li>10 <span>tracks</span></li>
  </ul>
</div>
<section class="timeline">
  <a class="btn-large" href="#/moments/new">Create a moment</a>
  <div class="timeline-header">
    <h2>Timeline</h2>
    <input class="search-light" type="text" name="search" placeholder="SEARCH" data-ng-model="search">
  </div>
  <section ng-show='{{vm.moment.id}}' class="moments-list"><a href="#/moments/{{ vm.moment.id }}">
    <h3>{{ vm.moment.dateModified | date: 'MM-yyyy' }}</h3>
    <ul>
      <li>
        <p>{{ vm.moment.content | limitTo: 300 }}{{ blogpost.text.length > 300 ? '...' : '' }}</p>
        <figure>
          <img src="vm.spotifyDeats.album.images[1].url" alt="Album cover for {{ vm.spotifyDeats.album }}" title="{{ vm.spotifyDeats.album }}">
          <figcaption>{{vm.moment.dateModified | date: 'dd'}}</figcaption>
        </figure>
      </li>
    </ul>
  </a></section>
</section>
