<div class="moment-banner">
  <h1 class="ng-cloak" ng-show="{{vm.user.name !== null}}">{{vm.user.name}}, here are your moments!</h1>
  <h1 class="ng-cloak" ng-hide="{{vm.user.name !== null}}">Hello, here are your moments!</h1>
  <img ng-show="{{vm.user.profile_image}}" class="ng-cloak image-profile" src="../../images/defaultUser.jpg" alt="Image of {{ vm.user.name }}" title="{{ vm.username }}">
  <img ng-hide="{{vm.user.profile_image}}" class="ng-cloak image-profile" src="{{ vm.user.profile_image.url }}" alt="Image of {{ vm.user.name }}" title="{{ vm.username }}">
  <ul class="user-stats">
    <li><span ng-bind="vm.momentCount"></span>moments</li>
    <li><span ng-bind="vm.tagCount"></span>tags</li>
  </ul>
</div>
<section class="timeline">
  <a class="btn-large" href="#/moments/new">Create a moment</a>
  <div class="timeline-header">
    <h2>Timeline</h2>
    <input class="search-light" type="text" name="search" placeholder="SEARCH" ng-model="searchMoments">
  </div>
  <section class="moments-list">
    <h3>{{ vm.moments[0].dateModified | date: 'MMMM yyyy' }}</h3>
    <ul>
      <li ng-repeat="moment in vm.moments | orderBy:'-dateCreated' | filter: searchMoments">
        <p><a href="#/moments/{{moment._id}}">{{moment.content | limitTo: 175 }}{{ moment.content.length > 175 ? '...' : ''}}</a></p>
        <a href="#/moments/{{moment._id}}">
        <figure>
            <img ng-src="{{ moment.album_art }}" alt="Album cover for {{ moment.album_art }}" title="{{ moment.album_art }}">
            <figcaption>21</figcaption>
        </figure>
        </a>
      </li>
    </ul>
  </section>
</section>
