<section class="moment-create-edit">
  <div class="search-wrapper">
    <div class="page-banner">
      <h1>Add or Edit A Moment</h1>
    </div>
    <form ng-submit="vm.search(search)">
      <input class="search-heavy" type="text" ng-model="search" name="search" placeholder="Search"/>
    </form>
    <section ng-show="vm.results.length > 0" class="results">
      <h2>Select your track</h2>
      <div class="results-nav">
        <a class="icon-arrowL" ng-click="vm.pagination.prevPage()"></a>
        <ul>
          <li ng-click="vm.addTrack(result)" ng-repeat="result in vm.results | pager:vm.pagination">
            <figure>
              <img ng-src="{{ result.album.images[2].url }}" alt="" title="" >
              <figcaption>
                <p>{{ result.artists[0].name | limitTo: 11}}{{ result.artists[0].name.length > 11 ? '...' : '' }}</p>
                <p><span>{{ result.name | limitTo: 11}}{{ result.name.length > 11 ? '...' : '' }}</span></p>
              </figcaption>
            </figure>
          </li>
        </ul>
        <a class="icon-arrowR" ng-click="vm.pagination.nextPage()"></a>
      </div>
    </section>
  </div>
  <div class="form-wrapper">
    <form ng-submit="vm.save()">
      <div class="moment-date">
        <p>{{ vm.date | date: 'dd MMMM' }}</p>
        <p><span>{{ vm.date | date: 'yyyy' }}</span></p>
        <input type="date" ng-model="vm.date" value="2015-10-22" required>
      </div>
      <input class="btn-primary-alt" type="submit" name="Submit" value="Save">
      <!-- <input type="text" ng-model="vm.moment.title" placeholder="Title" /> -->
      <div class="content">
        <textarea id="moment-textarea" class="moment-content" type="text" ng-keyup="vm.contentExpand()" ng-model="vm.moment.content" placeholder="Content" required></textarea>
        <!-- <input type="text" ng-model="vm.moment.author" placeholder="Author" /> -->
        <figure>
          <img src="{{ vm.track.album.images[1].url || '../images/defaultAlbum.png'}}" alt="Album cover for {{ vm.track.artists[0].name }}" title="{{ vm.track.artists[0].name }}">
          <figcaption ng-show="vm.track.artists.length > 0">
            <p><span class="moment-song">{{ vm.track.name }}</span><span>|</span>{{ vm.track.artists[0].name }}</p></figcaption>
        </figure>
      </div>
      <input class="moment-tags search-light" type="text" ng-model="vm.moment.tags" placeholder="Tags" >
  <!--     <input type="hidden" aria-hidden="true" ng-model="vm.moment.title" name="title" value="{{ vm.track.name }}" >
      <input type="hidden" aria-hidden="true" ng-model="vm.moment.spotifyResource" value="{{ vm.track }}">
      <input type="hidden" aria-hidden="true" ng-model="vm.moment.dateCreated" value="vm.date" > -->
    </form>
  </div>
</section>
