<!doctype html>
<html class="no-js" lang="en" ng-app="momentApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Moment | Your Personal Music Collection</title>
    <meta name="description" content="Create and navigate special memories with the music you love">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="main.css">
  </head>
  <body>
        <!-- <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif] -->
    <header class="header" data-ng-show="currentPath === '/'">
      <h1 class="header-logo">Moment</h1>
      <nav class="nav-login">
        <ul>
          <li><a href="/auth/spotify" class="">Log In</a></li>
          <li><a href="" class="">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <header class="header" data-ng-hide="currentPath === '/'">
      <h1 class="header-username" data-ng-if="loggedIn()"><span>{{ vm.user.name }}'s</span> Moment</h1>
      <nav class="nav-logout">
        <ul>
          <li><a href data-ng-click="logOut()">Log Out</a></li>
        </ul>
      </nav>
    </header>

    <main ng-view></main>

<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{JQUERY_VERSION}}/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script> -->
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>
